In [28]:
# GOT dataset
import csv
import pandas as pd
from itertools import product
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import csv
data_follower=pd.read_csv('/home/shuham/Desktop/Projects/NSW/NSW_Kashmir/#GameofThrones_follower_followee_network.csv')
data_tweet= pd.read_csv('/home/shuham/Desktop/Projects/NSW/NSW_Kashmir/#GameofThrones_tweets.csv')

In [29]:
filtered_data = data_tweet[['user_id','screen_name','lang','followers_count','friends_count','profile_url','description','location']]
#filtered_data=filtered_data.fillna(0)
filtered_data['ratio']=filtered_data['followers_count']/filtered_data['friends_count']
filtered_data

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio
0,x3041702170,brxvwndr,es,777,353,NaN,"Life is short, the world is wide. I want to ma...",NaN,2.201133
1,x1069638973943947268,RebeccaCann23,en,1069,3529,NaN,"33, Nottingham üè∞üá¨üáß\nLove DC/Marvel, Books, PS4...","Nottingham, England",0.302919
2,x1886897922,WOODStheMAV,en,23,148,NaN,"The best things in life aren't free, you alway...","Minnesota, USA",0.155405
3,x15807157,bucketree,en,1501,2352,http://t.co/3ttfnIpTZ1,"loves rowing, surfing, adventure, people who t...","Auckland, New Zealand",0.638180
4,x273119117,gipsipink,en,2009,3379,NaN,"Social Media Advertising, Product Tester. Love...",Essex,0.594555
...,...,...,...,...,...,...,...,...,...
195,x999812247294791680,freefolkbot,en,105,1440,NaN,Bot that posts memes from the best GoT subredd...,"Puerto Rico, USA",0.072917
196,x52534339,arbust0,en,54,220,NaN,NaN,NaN,0.245455
197,x2860732809,vrojas33172_v,en,96,886,NaN,NaN,DADE,0.108352
198,x3134622627,SHIELD221287,en,270,4529,https://t.co/i9XByOyXkD,#AgentsofSHIELD #Arrow #TheFlash #LegendsofTom...,Zephyr One (Somewhere in Time),0.059616
199,x786225067625746432,Gr33nHand,en,2612,154,https://t.co/2gHFRtAMaA,Twitter Page of TOotGH YouTube Channel. ASOIA...,The Wolf's Den,16.961039

In [30]:
for i in range(200):
    if filtered_data['ratio'][i] >=0.45 and filtered_data['ratio'][i]<=0.55:
        filtered_data['ratio'][i]=1
    else:
        filtered_data['ratio'][i]=0

filtered_data['user_id'] = np.where(filtered_data['user_id'].isnull(), 0, 1)
filtered_data['screen_name'] = np.where(filtered_data['screen_name'].isnull(), 0, 1)
filtered_data['lang'] = np.where(filtered_data['lang']!="en", 0, 1)
filtered_data['followers_count'] = np.where(filtered_data['followers_count']>1000,0,filtered_data['followers_count'])
filtered_data['followers_count'] = np.where(filtered_data['followers_count']<30,0,1)

filtered_data['friends_count'] = np.where(filtered_data['friends_count']>1200, 0, 1)
filtered_data['profile_url'] = np.where(filtered_data['profile_url'].isnull(), 0, 1)
filtered_data['description'] = np.where(filtered_data['description'].isnull(), 0, 1)
filtered_data['location'] = np.where(filtered_data['location'].isnull(), 0, 1)

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/shuham/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [31]:
filtered_data

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio
0,1,1,0,1,1,0,1,0,0.0
1,1,1,1,0,0,0,1,1,0.0
2,1,1,1,0,1,0,1,1,0.0
3,1,1,1,0,0,1,1,1,0.0
4,1,1,1,0,0,0,1,1,0.0
...,...,...,...,...,...,...,...,...,...
195,1,1,1,1,0,0,1,1,0.0
196,1,1,1,1,1,0,0,0,0.0
197,1,1,1,1,1,0,0,1,0.0
198,1,1,1,1,0,1,1,1,0.0
199,1,1,1,0,1,1,1,1,0.0

In [32]:
from sklearn.cluster import KMeans

In [33]:
kmeans = KMeans(n_jobs = -1, n_clusters = 2, init='k-means++',max_iter=1000)
kmeans.fit(X=filtered_data)
pred = kmeans.predict(filtered_data)
kmeans.inertia_

191.95100312531508

In [34]:
frame = pd.DataFrame(filtered_data) 
frame['cluster'] = pred 
frame['cluster'].value_counts()

0    109
1     91
Name: cluster, dtype: int64

In [35]:
frame.to_csv('/home/shuham/Desktop/data1_GOT.csv')

In [36]:
c1=[]
s1=set()
for i in range(200):
    if frame['cluster'][i]==1:
        #print(data_tweet['screen_name'][i])
        #list_b.append(data_tweet['screen_name'][i])
        c1.append(frame.iloc[i])
        s1.add(data_tweet['screen_name'][i])
        
df1=pd.DataFrame(c1)
df1
#print("Ration parameter is less than 0 for entire cluster, so focusing on cluster 0")

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio,cluster
1,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
2,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
3,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,0.0,1.0
4,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
9,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
190,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
191,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
193,1.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0,1.0,1.0
194,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
199,1.0,1.0,1.0,0.0,1.0,1.0,1.0,1.0,0.0,1.0

In [37]:
#df1.to_csv('/home/shuham/Desktop/data1_GOT.csv')
len(s1)

86

In [38]:
c0=[]
s0=set()
for i in range(200):
    if frame['cluster'][i]==0:
        #print(data_tweet['screen_name'][i])
        #list_b.append(data_tweet['screen_name'][i])
        c0.append(frame.iloc[i])
        s0.add(data_tweet['screen_name'][i])
df0=pd.DataFrame(c0)
df0

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio,cluster
0,1.0,1.0,0.0,1.0,1.0,0.0,1.0,0.0,0.0,0.0
5,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
6,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
7,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0
8,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
192,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0
195,1.0,1.0,1.0,1.0,0.0,0.0,1.0,1.0,0.0,0.0
196,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
197,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
198,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0

In [39]:
len(s0)

103

In [41]:
for i in range(200):
    try:
        if(df0['location'][i]==0):
            #print("inside ratio")
            if(df0['description'][i]==0):
                #print("inside loc")
                if(df0['followers_count'][i]==1):
                        print(data_tweet['screen_name'][i]+" "+data_tweet['user_id'][i]+" "
                              +data_tweet['created_at'][i])
                          #print(data_tweet.iloc[i])
                          
    except:
        continue

ksivananth x315109360 2019-11-23 20:26:02
mirandasummerse x136820907 2019-11-23 20:18:26
jerrycardenasr x1002830144 2019-11-23 20:09:26
selvasadikoglu x510767924 2019-11-23 18:57:23
selvasadikoglu x510767924 2019-11-23 18:21:49
rushi_argula x2335019796 2019-11-23 18:49:04
Harshith_22 x3270525602 2019-11-23 18:40:57
dhaniroon x304472395 2019-11-23 18:29:16
Harley4659 x741235056853782528 2019-11-23 18:26:12
arbust0 x52534339 2019-11-23 18:02:04

In [14]:
# ksivananth(iska tweet row 7 wale ka hai , same time pe retweet kiya hai and retweet location set nahi hai), selvasadikoglu, rushi_argula==Harshith_22

In [15]:
# print(data_tweet['screen_name'][7]+"--"+data_tweet['created_at'][7]+"--"+data_tweet['retweet_location'][7]+"--"+data_tweet['text'][7])

In [16]:
# import botometer

In [17]:
# rapidapi_key = "9ec2290368mshfa0ba97cff0c490p1de196jsn16c6d795de7a" # now it's called rapidapi key
# twitter_app_auth = {
#     'consumer_key': 'HDxI8l3dRXJExUjMhH3hOOpe9',
#     'consumer_secret': 'wreDXDdGq07sudOZZcJ9wNEqCNNd5S7WY3FJ4PvvzZlaUskxfx',
#     'access_token': '2842437144-0X01WDpjmkJxDNZX7GIcDEubVThY2XCJsLNAhyk',
#     'access_token_secret': 'gzDTtTyyA2fbJ60RQwlnxPqnpHEU2EsYnTBxk3JoCuukM',
#   }

In [18]:
# bom = botometer.Botometer(wait_on_ratelimit=True,
#                           rapidapi_key=rapidapi_key,
#                           **twitter_app_auth)

In [19]:
# result = bom.check_account('graziosco')
# result

In [20]:
# result['cap']

In [21]:
# screen_name=filtered_data['screen_name']
# screen_name

In [22]:
# import tweepy
# type(screen_name)

In [23]:
# # for i in screen_name:
# #     print(i)
# results={}

In [24]:
# c=0
# for i in screen_name:
#     try:
#         result[i]=bom.check_account(i)
#         c=c+1
#         print(c)
#     except tweepy.TweepError:
#         print("Failed to run the command on that user, Skipping...")

In [25]:
# result

In [26]:
# screen_name.tolist()