In [1]:
# kashmir dataset
import csv
import pandas as pd
from itertools import product
import pandas as pd
import numpy as np
import random as rd
import matplotlib.pyplot as plt
import csv
data_follower=pd.read_csv('/home/shuham/Desktop/Projects/NSW/NSW_Kashmir/#Kashmir_follower_followee_network.csv')
data_tweet= pd.read_csv('/home/shuham/Desktop/Projects/NSW/NSW_Kashmir/#Kashmir_tweets.csv')

In [2]:
filtered_data = data_tweet[['user_id','screen_name','lang','followers_count','friends_count','profile_url','description','location']]
#filtered_data=filtered_data.fillna(0)
filtered_data['ratio']=filtered_data['followers_count']/filtered_data['friends_count']
filtered_data

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio
0,x1167337853581348864,JKPNA1,en,28,2,https://t.co/WF4UWYGfQj,Official Account of Jammu Kashmir People's Nat...,NaN,14.000000
1,x38930724,GoPeaceWay,en,322,3319,https://t.co/RVmkiJX4xq,Professional Student,United States,0.097017
2,x921238936726282240,AbdurRehman1918,ur,1228,1017,NaN,‚Äè‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé#ÿØÿπŸàÿ™_Ÿà_ÿßÿµŸÑÿßÿ≠ \n‚Äè‚Äè#Muslim #Pakistani,"Rawalpindi, Pakistan",1.207473
3,x921238936726282240,AbdurRehman1918,ur,1228,1017,NaN,‚Äè‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé‚Äé#ÿØÿπŸàÿ™_Ÿà_ÿßÿµŸÑÿßÿ≠ \n‚Äè‚Äè#Muslim #Pakistani,"Rawalpindi, Pakistan",1.207473
4,x736161488591847424,MoFaisu,en,103,44,NaN,Pakistani üáµüá∞ & Kashmiri üèûÔ∏è \nMember of @PTFP_O...,Dadyal Islamabad kashmir,2.340909
...,...,...,...,...,...,...,...,...,...
195,x867231958828548096,kunte_v,en,91,171,NaN,‡§ú‡§¨ ‡§§‡•Å‡§Æ ‡§™‡•à‡§¶‡§æ ‡§π‡•Å‡§è ‡§•‡•á ‡§§‡•ã ‡§§‡•Å‡§Æ ‡§∞‡•ã‡§è ‡§•‡•á\n‡§ú‡§¨‡§ï‡§ø ‡§™‡•Ç‡§∞‡•Ä ‡§¶‡•Å...,"Gwalior, India",0.532164
196,x2149082660,bantophool,en,3,94,NaN,Slowly woke up to the fact that we need real c...,NaN,0.031915
197,x3021883369,Chadhar563,en,107,517,NaN,NaN,NaN,0.206963
198,x2200838298,akashsinghaero,en,6,45,NaN,NaN,‡§≠‡§æ‡§∞‡§§,0.133333
199,x1101026258941546502,ShafiqShehzada,ur,597,917,https://t.co/4JsN3k8KNt,"IF you Feel Like you are Losing Everything, Re...",Dera Ghazi Khan,0.651036

In [3]:
for i in range(200):
    if filtered_data['ratio'][i] >=0.45 and filtered_data['ratio'][i]<=0.55:
        filtered_data['ratio'][i]=1
    else:
        filtered_data['ratio'][i]=0

filtered_data['user_id'] = np.where(filtered_data['user_id'].isnull(), 0, 1)
filtered_data['screen_name'] = np.where(filtered_data['screen_name'].isnull(), 0, 1)
filtered_data['lang'] = np.where(filtered_data['lang']!="en", 0, 1)
filtered_data['followers_count'] = np.where(filtered_data['followers_count']>1000,0,filtered_data['followers_count'])
filtered_data['followers_count'] = np.where(filtered_data['followers_count']<30,0,1)

filtered_data['friends_count'] = np.where(filtered_data['friends_count']>1200, 0, 1)
filtered_data['profile_url'] = np.where(filtered_data['profile_url'].isnull(), 0, 1)
filtered_data['description'] = np.where(filtered_data['description'].isnull(), 0, 1)
filtered_data['location'] = np.where(filtered_data['location'].isnull(), 0, 1)

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
/home/shuham/.local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3326: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  import sys
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:8: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if __name__ == '__main__':
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:14: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  from ipykernel import kernelapp as app
/home/shuham/.local/lib/python3.7/site-packages/ipykernel_launcher.py:16: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  app.launch_new_instance()

In [4]:
filtered_data

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio
0,1,1,1,0,1,1,1,0,0.0
1,1,1,1,1,0,1,1,1,0.0
2,1,1,0,0,1,0,1,1,0.0
3,1,1,0,0,1,0,1,1,0.0
4,1,1,1,1,1,0,1,1,0.0
...,...,...,...,...,...,...,...,...,...
195,1,1,1,1,1,0,1,1,1.0
196,1,1,1,0,1,0,1,0,0.0
197,1,1,1,1,1,0,0,0,0.0
198,1,1,1,0,1,0,0,1,0.0
199,1,1,0,1,1,1,1,1,0.0

In [5]:
from sklearn.cluster import KMeans

In [6]:
kmeans = KMeans(n_jobs = -1, n_clusters = 2, init='k-means++',max_iter=500)
kmeans.fit(X=filtered_data)
pred = kmeans.predict(filtered_data)
kmeans.inertia_

165.76802572881004

In [7]:
frame = pd.DataFrame(filtered_data) 
frame['cluster'] = pred 
frame['cluster'].value_counts()

0    119
1     81
Name: cluster, dtype: int64

In [26]:
frame

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio,cluster
0,1,1,1,0,1,1,1,0,0.0,1
1,1,1,1,1,0,1,1,1,0.0,1
2,1,1,0,0,1,0,1,1,0.0,1
3,1,1,0,0,1,0,1,1,0.0,1
4,1,1,1,1,1,0,1,1,0.0,0
...,...,...,...,...,...,...,...,...,...,...
195,1,1,1,1,1,0,1,1,1.0,0
196,1,1,1,0,1,0,1,0,0.0,1
197,1,1,1,1,1,0,0,0,0.0,0
198,1,1,1,0,1,0,0,1,0.0,1
199,1,1,0,1,1,1,1,1,0.0,0

In [24]:
frame.to_csv('data_kashmir.csv')

In [8]:
c1=[]
s1=set()
for i in range(200):
    if frame['cluster'][i]==1:
        #print(data_tweet['screen_name'][i])
        #list_b.append(data_tweet['screen_name'][i])
        c1.append(frame.iloc[i])
        s1.add(data_tweet['screen_name'][i])
        
df1=pd.DataFrame(c1)
df1
#print("Ration parameter is less than 0 for entire cluster, so focusing on cluster 0")

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio,cluster
0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,0.0,1.0
1,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0,1.0
2,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
3,1.0,1.0,0.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
7,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
...,...,...,...,...,...,...,...,...,...,...
190,1.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
191,1.0,1.0,1.0,0.0,0.0,0.0,1.0,1.0,0.0,1.0
192,1.0,1.0,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0
196,1.0,1.0,1.0,0.0,1.0,0.0,1.0,0.0,0.0,1.0
198,1.0,1.0,1.0,0.0,1.0,0.0,0.0,1.0,0.0,1.0

In [9]:
len(s1)

57

In [10]:
c0=[]
s0=set()
for i in range(200):
    if frame['cluster'][i]==0:
        #print(data_tweet['screen_name'][i])
        #list_b.append(data_tweet['screen_name'][i])
        c0.append(frame.iloc[i])
        s0.add(data_tweet['screen_name'][i])
df0=pd.DataFrame(c0)
df0

,user_id,screen_name,lang,followers_count,friends_count,profile_url,description,location,ratio,cluster
4,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
5,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
6,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
8,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
9,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...
193,1.0,1.0,1.0,1.0,1.0,0.0,0.0,1.0,0.0,0.0
194,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,0.0,0.0
195,1.0,1.0,1.0,1.0,1.0,0.0,1.0,1.0,1.0,0.0
197,1.0,1.0,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0
199,1.0,1.0,0.0,1.0,1.0,1.0,1.0,1.0,0.0,0.0

In [11]:
len(s0)

97

In [25]:
for i in range(200):
    try:
        if(df1['ratio'][i]==0):
            if(df1['location'][i]==0):
                if(df1['profile_url'][i]==0):
                    if(df1['description'][i]==0):
                        print("BOT")
                        print(data_tweet['screen_name'][i]+" "+data_tweet['user_id'][i]+" "
                              +data_tweet['created_at'][i]+" "+data_tweet['text'][i])
                          #print(data_tweet.iloc[i])
                          
    except:
        continue

Jenin65149160 x987227489184333824 2019-11-06 06:32:01 Is #Kashmir not part of Indian democracy? In Delhi, even police can protest, but in Kashmir, people are NOT allowed to protest! #DelhiPolice
usman30920808 x1164788923232477184 2019-11-06 06:28:15 Renaming Places, Changing mapes, boundaries, language will not work.
When it's a people that know what is right, that accept the sacrifice; when this people has made its choice to resist, to fight;
The inevitable outcome will be one "Freedom For #Kashmir"!‚úä

#IndianMapsRejected
usman30920808 x1164788923232477184 2019-11-06 06:30:43 @NimraSamarr #Kashmir‚úä‚òùÔ∏è In sha Allah
IndianBoy092 x49950856 2019-11-06 06:23:51 96 days.
Decades of deceit and betrayal.

Can you imagine 8 million people living in anxiety and being subjected to daily humiliation in the form of voilence; erasure of history, identity and culture?

#Kashmir üçÅ has never been normal. We should stop pretending otherwise.